[appSettings]
agentid = 35d6a1eb-d758-43a4-bd75-4f2094fd5156
serverhostname = 
serveripaddress = 10.11.116.45
serverport = 443
agentport = 9029
starterport = 9029
loglevel = debug
nu = agent_api
wp = UiV]u{7,
customer = default

[agentInfo]
name = vFense Agent
version = 0.8.0-deb
description = vFense Agent
installdate = 

